 <!--Header Section-->
<footer class="footer">
  <div class="container">
    <div class="footer-main"></div>
    <h3 class="footer-title">SR MAJOR NEWS SCRAPER</h3>
    <p class="dev-name">&copy; BXXDYZ</p>
    </div>
  </div>
</footer>
 <!--Header Section-->