<!DOCTYPE html>
<html lang="en">

<head>
    <title>Granpas Read-N-Scraper</title>

    <meta charset="UTF-8">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!--Our "links" Begin here-->
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="../images/Notepal.png" />

    
    <!--Materialize Compiled and minified CSS Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css"/>

    <!-- Our css -->
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>

<body>

    {{{ body }}}

</body>

</html>