<!--Main Container-->
    <div class="container">
        <!--Header Section-->
        <div class="row">
            <div class="col s6">
                <nav>
                    <div class="nav-wrapper black-text">
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="/">Refresh</a></li>
                            <li class="active"><a href="/saved">Saved Articles</a></li>
                            <li><a href="#!">About</a></li>

                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col s6">
                <nav>
                    <div class="nav-wrapper black-text">
                        <a href="/landing-page" class="brand-logo">Logo Goes here</a>
                    </div>
                </nav>
            </div>
        </div>
        <!--Header Section-->


        <!--Main Banner Section--->
        <div class="row">
            <div class="col s12 main-banner">
                <h1>Granpas Read-N-Scraper</h1>
                <h2>Your Saved Articles</h2>

                <div class="main-logo">

                </div>
            </div>
        </div>
        <!--Main Banner Section-->


        <!--Article dump Section-->
        <div class="row">
            <div class="col s12 article-container" id="article-section">
    
            </div>
        </div>
        <!--Article dump Section-->


        <!--Footer Section-->
        <div class="row">
            <div class="col s12 sub-footer">
                
            </div>
            <div class="col s12 footer">
                
            </div>
        </div>
        <!--Footer Section-->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src="../../assets/js/save.js"></script>