<!--Main Container-->

<!--Main Banner Section--->
<div class="row">
    <div class="col s12 main-banner" id="banner-image">
        <h1>Granpas Read-N-Scraper</h1>
        <p>New York Times Edition</p>

        <div class="main-logo" id="logo">

        </div>
    </div>
</div>
<!--Main Banner Section-->


<!--Controller buttons Section-->
<div class="row">
    <div class="col s12 controller-buttons-main">
        <button class="controller-button" id="scrape-new">
            SCRAPE NEW ARTICLES
        </button>

        <button class="controller-button" id="clear">
            CLEAR ARTICLES
        </button>
    </div>
</div>
<!--Controller buttons Section-->


<!--Article dump Section-->
<div class="row">
    <div class="col s12 article-container" id="article-div">

    </div>
</div>
<!--Article dump Section-->


<!--Footer Section-->
<div class="row">
    <div class="col s12 sub-footer">

    </div>
    <div class="col s12 footer">

    </div>
</div>
<!--Footer Section-->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/js/home.js"></script>